* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  min-height: 73px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dedede;
}
header nav {
  max-width: 1200px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  color: #030213;
  font-weight: 500px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.45px;
}
header nav .logo a {
  text-decoration: none;
  color: #030213;
  font-weight: 500px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.45px;
}
header nav .links a {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.8);
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  margin-left: 24px;
}
header nav .links a.started-button {
  background-color: #030213;
  border-radius: 10px;
  padding: 12px 24px;
  color: #fff !important;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-decoration: none;
}

footer {
  background-color: rgba(236, 236, 240, 0.5019607843);
  min-height: 241px;
}
footer .center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
footer .center-content.footer-top {
  min-height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 16px;
  padding-top: 49px;
}
footer .center-content.footer-top .left {
  width: 842px;
  height: 128px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .center-content.footer-top .left .footer-title {
  font-weight: 500px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.44px;
  color: #0a0a0a;
}
footer .center-content.footer-top .left .footer-subtitle {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  color: rgba(10, 10, 10, 0.6980392157);
  padding-top: 16px;
}
footer .center-content.footer-top .left .footer-social {
  display: flex;
  gap: 12px;
}
footer .center-content.footer-top .left .footer-social a {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
footer .center-content.footer-top .left .footer-social a img {
  width: 20px;
  height: 20px;
}
footer .center-content.footer-top .right {
  width: 229px;
  height: 128px;
  display: flex;
}
footer .center-content.footer-top .right .side {
  width: 110px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .center-content.footer-top .right .side .side-title {
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}
footer .center-content.footer-top .right .side a {
  text-decoration: none;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  color: rgba(10, 10, 10, 0.6980392157);
}
footer .center-content.footer-top .right .right-side {
  padding-left: 48px;
}
footer .center-content.copyright {
  min-height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #737373;
}

.center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
.center-content.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.center-content.hero .hero-content {
  flex: 1 1 320px;
  max-width: 528px;
  min-height: 400px;
}
.center-content.hero .hero-content .hero-header {
  font-weight: 500px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.35px;
}
.center-content.hero .hero-content .hero-header .hero-highlight {
  color: #030213;
  font-weight: 700;
  padding: 0 4px;
  border-radius: 6px;
}
.center-content.hero .hero-content .hero-subheader {
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.44px;
  color: rgba(10, 10, 10, 0.6980392157);
  padding-top: 24px;
}
.center-content.hero .hero-content .hero-buttons {
  margin-top: 32px;
}
.center-content.hero .hero-content .hero-buttons a.hero-fill-button {
  text-decoration: none;
  background-color: #030213;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}
.center-content.hero .hero-content .hero-buttons a.hero-outline-button {
  background-color: #eceef2;
  border-radius: 10px;
  padding: 15px 32px;
  color: #030213;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-decoration: none;
  margin-left: 16px;
}
.center-content.hero .hero-content .hero-buttons a.hero-text-link {
  color: #030213;
  text-decoration: none;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  margin-left: 16px;
}
.center-content.hero .hero-img {
  width: 528px;
  height: 352px;
  border-radius: 16px;
  background-image: url(../images/team.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -80px;
}
.center-content.hero .hero-img2 {
  width: 528px;
  height: 352px;
  border-radius: 16px;
  background-image: url(../images/working.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -80px;
}

.hero-wrapper {
  background-color: rgba(236, 236, 240, 0.2980392157);
}

.why-content-wrapper {
  background-color: rgba(236, 236, 240, 0.3019607843);
}
.why-content-wrapper .center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
.why-content-wrapper .center-content.why-content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.why-content-wrapper .center-content.why-content .why-title {
  font-weight: 500px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.37px;
  color: #0a0a0a;
  text-align: center;
}
.why-content-wrapper .center-content.why-content .why-subtitle {
  color: rgba(10, 10, 10, 0.6980392157);
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.44px;
  text-align: center;
}
.why-content-wrapper .center-content.why-content .offer-cards {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why-content-wrapper .center-content.why-content .offer-cards .offer-card {
  width: 346px;
  height: 241px;
  border-radius: 14px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding: 33px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
}
.why-content-wrapper .center-content.why-content .offer-cards .offer-card .offer-icon {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 10px;
  background-color: rgba(3, 2, 19, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}
.why-content-wrapper .center-content.why-content .offer-cards .offer-card .offer-icon img {
  width: auto;
  height: auto;
  max-width: 24px;
  max-height: 24px;
}
.why-content-wrapper .center-content.why-content .offer-cards .offer-card .offer-title {
  font-weight: 500px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.44px;
  color: #0a0a0a;
  text-align: left;
}
.why-content-wrapper .center-content.why-content .offer-cards .offer-card .offer-descp {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  color: rgba(10, 10, 10, 0.6980392157);
  text-align: left;
}

.develop-wrapper {
  background-color: white;
}
.develop-wrapper .center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
.develop-wrapper .center-content.develop-content {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
.develop-wrapper .center-content.develop-content .develop-img {
  width: 528px;
  height: 396px;
  border-radius: 14px;
  background-image: url(../images/about.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.develop-wrapper .center-content.develop-content .develop-subcontent {
  flex: 1 1 320px;
  max-width: 528px;
  min-height: 400px;
  margin-top: 0;
}
.develop-wrapper .center-content.develop-content .develop-subcontent .develop-title {
  font-weight: 500px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.37px;
  color: #0a0a0a;
}
.develop-wrapper .center-content.develop-content .develop-subcontent .develop-descp {
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.44px;
  color: rgba(10, 10, 10, 0.6980392157);
  margin-top: 24px;
}

.team-wrapper {
  border-bottom: 1px solid #dedede;
}
.team-wrapper .center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
.team-wrapper .center-content.teams {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  min-height: 12px;
}
.team-wrapper .center-content.teams .teams-header {
  color: #666;
  margin-bottom: 1.5rem;
  font-size: 400px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.44px;
  text-align: center;
}
.team-wrapper .center-content.teams .companys-logo {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.team-wrapper .center-content.teams .companys-logo img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #efe7eb;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
.center-content.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.center-content.features .features-header {
  font-weight: 500px;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.37px;
  color: #0a0a0a;
  text-align: center;
}
.center-content.features .offer-cards2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;
}
.center-content.features .offer-cards2 .offer-card2 {
  height: 320px;
  width: 345px;
  background-color: #fafafa;
  border: 1px solid #e5e7eb;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 32px;
}
.center-content.features .offer-cards2 .offer-card2 .offer-card-icon {
  width: 48px;
  height: 48px;
  background-color: rgba(3, 2, 19, 0.1019607843);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-content.features .offer-cards2 .offer-card2 .offer-card-icon .feature-icon {
  width: 20px;
  height: 20px;
}
.center-content.features .offer-cards2 .offer-card2 .offer-card-title {
  color: #0a0a0a;
  font-weight: 500px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.center-content.features .offer-cards2 .offer-card2 .offer-card-descp {
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  color: rgba(10, 10, 10, 0.6980392157);
  text-align: center;
}
