* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  min-height: 73px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dedede;
}
header nav {
  max-width: 1200px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  color: #030213;
  font-weight: 500px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.45px;
}
header nav .logo a {
  text-decoration: none;
  color: #030213;
  font-weight: 500px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.45px;
}
header nav .links a {
  text-decoration: none;
  color: rgba(10, 10, 10, 0.8);
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  margin-left: 24px;
}
header nav .links a.started-button {
  background-color: #030213;
  border-radius: 10px;
  padding: 12px 24px;
  color: #fff !important;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-decoration: none;
}

.center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
.center-content.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.center-content.hero .hero-content {
  flex: 1 1 320px;
  max-width: 528px;
  min-height: 400px;
}
.center-content.hero .hero-content .hero-header {
  font-weight: 500px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.35px;
}
.center-content.hero .hero-content .hero-subheader {
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.44px;
  color: rgba(10, 10, 10, 0.6980392157);
  padding-top: 24px;
}
.center-content.hero .hero-content .hero-buttons {
  margin-top: 32px;
}
.center-content.hero .hero-content .hero-buttons a.hero-fill-button {
  text-decoration: none;
  background-color: #030213;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
}
.center-content.hero .hero-content .hero-buttons a.hero-outline-button {
  background-color: #eceef2;
  border-radius: 10px;
  padding: 15px 32px;
  color: #030213;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.31px;
  text-decoration: none;
  margin-left: 16px;
}
.center-content.hero .hero-img {
  width: 528px;
  height: 352px;
  border-radius: 16px;
  background-image: url(../images/team.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -80px;
}
