.develop-wrapper {
  background-color: white;
  .center-content {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 400px;
    &.develop-content {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
      .develop-img {
        width: 528px;
        height: 396px;
        border-radius: 14px;
        background-image: url(../images/about.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .develop-subcontent {
        flex: 1 1 320px;
        max-width: 528px;
        min-height: 400px;
        margin-top: 0;
        .develop-title {
          font-weight: 500px;
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 0.37px;
          color: #0a0a0a;
        }
        .develop-descp {
          font-weight: 400px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.44px;
          color: #0a0a0ab2;
          margin-top: 24px;
        }
      }
    }
  }
}

.developer-wrapper2 {
  background-color: #f8f9fa;
  .center-content {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 400px;
    &.develop-content {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
      .develop-subcontent {
        flex: 1 1 320px;
        max-width: 528px;
        min-height: 400px;
        margin-top: 0;
        .develop-title {
          font-weight: 500px;
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 0.37px;
          color: #0a0a0a;
        }
        .develop-descp {
          font-weight: 400px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.44px;
          color: #0a0a0ab2;
          margin-top: 24px;
          a {
            text-decoration: none;
            color: #0056ba;
          }
        }
      }
      .develop-img2 {
        width: 528px;
        height: 396px;
        border-radius: 14px;
        background-image: url(../images/collab.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &.develop-content {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
      .develop-img3 {
        width: 528px;
        height: 396px;
        border-radius: 14px;
        background-image: url(../images/auto.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .develop-subcontent {
        flex: 1 1 320px;
        max-width: 528px;
        min-height: 400px;
        margin-top: 0;
        .develop-title {
          font-weight: 500px;
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 0.37px;
          color: #0a0a0a;
        }
        .develop-descp {
          font-weight: 400px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.44px;
          color: #0a0a0ab2;
          margin-top: 24px;
          a {
            text-decoration: none;
            color: #0056ba;
          }
        }
      }
    }
  }
}

.developer-wrapper2 {
  background-color: #f8f9fa;
  .center-content {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 400px;
    &.develop-content2 {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
      .develop-subcontent {
        flex: 1 1 320px;
        max-width: 528px;
        min-height: 400px;
        margin-top: 0;
        .hero-header2 {
          font-weight: 400px;
          font-size: 24px;
          line-height: 48px;
          letter-spacing: 0.35px;
        }
        .develop-title {
          font-weight: 500px;
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 0.37px;
          color: #0a0a0a;
        }
        .develop-descp {
          font-weight: 400px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.44px;
          color: #0a0a0ab2;
          margin-top: 24px;
        }
        .story-signature {
          font-family: "Cedarville Cursive", cursive;
          font-size: 32px;
          font-weight: 500;
          color: #222;
          margin-top: 28px;
          margin-bottom: 2px;
        }
      }
      .develop-img4 {
        flex: 1 1 320px;
        max-width: 650px;
        width: 100%;
        height: clamp(280px, 40vw, 500px);
        border-radius: 14px;
        background-image: url(../images/tech-office.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .img-dots {
          position: absolute;
          width: 150px;
          height: 150px;
          right: -24px;
          bottom: -24px;
          background-image: radial-gradient(circle, black 2px, transparent 2px);
          background-size: 14px 14px;
          z-index: 2;
          pointer-events: none;
        }
      }
    }
  }
}
