.center-content {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
  &.features {
    padding-top: 80px;
    padding-bottom: 80px;
    .features-header {
        font-weight: 500px;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.37px;
        color: #0a0a0a;
        text-align: center;
    }
    .offer-cards2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
        margin-top: 48px;
        .offer-card2 {
            height: 320px;
            width: 345px;
            background-color: #fafafa;
            border: 1px solid #e5e7eb;
            padding: 16px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.06);
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 32px;
            .offer-card-icon {
                width: 48px;
                height: 48px;
                background-color: #0302131a;
                border-radius: 999px;
                display: flex;
                justify-content: center;
                align-items: center;
                .feature-icon {
                    width: 20px;
                    height: 20px;
                }
            }
            .offer-card-title {
                color: #0a0a0a;
                font-weight: 500px;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
            }
            .offer-card-descp {
                font-size: 16px;
                font-weight: 400px;
                line-height: 24px;
                color: #0a0a0ab2;
                text-align: center;
            }
        }
    }
  }
}
