.team-wrapper {
  border-bottom: 1px solid #dedede;
  .center-content {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 400px;
    &.teams {
        padding-top: 48px;
        padding-bottom: 48px;
        text-align: center;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        min-height: 12px;
        .teams-header {
            color: #666;
            margin-bottom: 1.5rem;
            font-size: 400px;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.44px;
            text-align: center;
        }
        .companys-logo {
            display: flex;
            gap: 24px;
            justify-content: center;
            flex-wrap: wrap;
            img {
                width: 90px;
                height: 90px;
                object-fit: cover;
                border-radius: 12px;
                background-color: white;
                border: 1px solid #efe7eb;
                padding: 16px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
            }
        }
    }
  }
}
